.proposal-titlee{
    align-items: right;
    margin-top: 100px;
    align-content: right;
    vertical-align: middle;
    text-align: left;
    color: black;
}

.proposal-sube{
    color: black;
    margin-top: 100px;
    vertical-align: middle;
    text-align: left;
}