
@font-face{
    font-family: 'Lato';  
    src: url(http://fonts.googleapis.com/css?family=Lato:400,700)
  }
.form-group{
    /* align-items: center; */
    width: 50%;
    /* text-align: center; */
    /* left: 50%; */
}

.proposal{
    background-color: white;
}

.proposal-title{
    align-items: right;
    margin-top: 100px;
    align-content: right;
    vertical-align: middle;
    text-align: right;
    color: black;
}

.proposal-sub{
    color: black;
    margin-top: 100px;
    vertical-align: middle;
    text-align: right;
}

.learn-more{
    align-items: right !important;
    margin-left: 100px !important;
    color: white !important;
}

.container{
    height: 600px;
    width: 600px;

}

.proposal-pic{
    color: black;
}



